@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- Tema Claro (Valores por defecto) --- */
    --background: 240 10% 99%;      /* #FCFCFD */
    --surface: 240 5% 96%;          /* #F3F4F6 */
    --primary: 259 100% 64%;        /* #7E42FF */
    --primary-hover: 256 100% 71%;  /* #905EFF */
    --secondary: 240 5% 90%;        /* #E5E7EB */
    --text-main: 240 10% 3.9%;      /* #111827 */
    --text-secondary: 240 4% 46%;   /* #6B7280 */
  }

  .dark {
    /* --- Tema Oscuro --- */
    --background: 240 10% 3.9%;     /* #0A090C */
    --surface: 240 5% 8%;           /* #131217 */
    --primary: 259 100% 64%;        /* #7E42FF */
    --primary-hover: 256 100% 71%;  /* #905EFF */
    --secondary: 240 4% 16%;        /* #2A292F */
    --text-main: 240 5% 95%;        /* #F0F0F0 */
    --text-secondary: 240 4% 63%;   /* #A0A0A0 */
  }
}

body {
  @apply bg-background text-text-main font-sans transition-colors duration-300;
}